@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&family=Bebas+Neue&display=swap');

:root {
	--charcoal: #333333;
	--darkcharcoal: #262626;
	--primary: #EEEEEE;
	--accent: #ff773d;
	--subprimary: #666666;
	--silver: #CCCCCC;
}

/* ---- MAIN ---- */

body {
  width: 1024px;
	max-width: 1024px;
	margin: 0 auto;
	background-color: var(--charcoal);
	color: var(--primary);
	text-align: center;
	font-family: 'Barlow', sans-serif;
	font-weight: normal;
	border: 1px solid white;
}

h1 {
	font-size: 4em;
	letter-spacing: 0.05em;
	padding-top: 0.2em;
	font-family: 'Bebas Neue', cursive;
}

/* ---- HEADER ---- */

.header {
	background-color: var(--darkcharcoal);
	border-bottom-right-radius: 50%;
	border-bottom-left-radius: 50%;
	padding-bottom: 2em;
	margin-bottom: 7em;
}

.header>h2 {
	font-size: 1.3em;
	margin-bottom: 1.2em;
	color: var(--silver);
}

.header>a {
	padding: 0.6em;
	border-radius: 20px;
	background-color: var(--darkcharcoal);
	border: 3px solid var(--accent);
	text-decoration: none;
	font-weight: bold;
	color: white;
	text-transform: uppercase;
}

.header>a:hover {
	filter: opacity(0.8);
}

/* ---- MAIN ---- */

.main {
	margin-top: 3em;
}

.main::before {
	content: 'NEW RELEASES';
	padding: 1.7em 6em 1em 6em;
	font-family: 'Bebas Neue', cursive;
	letter-spacing: 0.1em;
	border-top: 3px solid var(--silver);
	font-weight: bold;
	font-size: 1.8em;	
	color: var(--accent);
}

.main>.new-releases {
	margin-top: 3em;
	display: flex;
	flex-direction: row;
	max-width: 960px;
	margin: 3em auto 3em auto;
}

.main>.new-releases>h3 {
	background-color: red;
	padding-bottom: 3em;
	margin-bottom: 3em;
	display: none;
}

.main>.new-releases>.second {
	margin: 0 1em;
}

.main>.new-releases>.new {
	width: 300px;
	padding: 0.1em;
	background-color: var(--darkcharcoal);
	border-radius: 0.9em;
	min-width: 0;
	margin: 0 auto 3em auto;
	border: 1px solid var(--accent);
	/* box-shadow: 11px 10px 21px -2px rgba(0,0,0,0.71); */
}

.new>img {
	width: 224px;
	height: auto;
	margin: 2em;
	border: 3px solid var(--accent);
	border-radius: 0.8em;
}

.new-text>h4 {
	font-size: 1.5em;
	font-weight: bold;
	text-transform: uppercase;
}

.new-text .price {
	font-family: 'Bebas Neue', cursive;
	color: var(--accent);
	font-size: 1.9em;
	letter-spacing: 0.08em;
}

.new-text a.button {
	padding: 0.6em;
	border-radius: 20px;
	background-color: var(--darkcharcoal);
	border: 3px solid var(--accent);
	text-decoration: none;
	font-weight: bold;
	color: white;
	text-transform: uppercase;
}

.new-text p.description {
	margin-bottom: 2.5em;
}

.new-text p:last-of-type {
	margin-bottom: 2.5em;
}

/* ---- FOOTER ---- */

.footer {
	background-color: var(--subprimary);
	padding: 1em;
	justify-content: center;
	border-top: 1px solid var(--accent);
}

.footer>.footer-section:nth-child(-n+3) {
	display: inline-block;
	padding: 0.2em 0.5em;
	min-width: 13em;
	margin: 0 1em;
}

.footer a {
	color: var(--silver);
	text-decoration: none;
}

.footer a:hover {
	color: var(--accent);
}

.footer h4 {
	font-size: 1.3em;
}

.footer>.footer-logo {
	font-family: 'Bebas Neue', cursive;
	letter-spacing: 0.1em;
}
.footer>.site-links>p>a {
	background-color: red;
	display: 
}

/* ---- COLLECTIONS ---- */

.collections {
	margin: 5em 0;
}

.collections::before {
	content: "COLLECTIONS";
	padding: 1.7em 2em 1em 2em;
	font-family: 'Bebas Neue', cursive;
	letter-spacing: 0.1em;
	border-top: 3px solid var(--silver);
	font-weight: bold;
	font-size: 1.8em;
	color: var(--accent);
} 

.collections h3,.mothers-day h3 {
	display: none;
}

.collections p:first-of-type {
	font-size: 1.3em;
}

.collections>ul {
	list-style: none;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 1em;
	font-size: 1.1em;
	width: 50em;
	margin: 0 auto;
}

.collections>ul>li{ 
	padding: 1em;
	border-radius: 0.5em;
	background-color: var(--darkcharcoal);
	border: 1px solid var(--accent);
	margin: 1em;
}

.new-tag {
	font-family: 'Bebas Neue', cursive;
	color: white;
	font-style: normal;
}

.collections a.button {
	padding: 0.6em;
	border-radius: 20px;
	background-color: var(--darkcharcoal);
	border: 3px solid var(--accent);
	text-decoration: none;
	font-weight: bold;
	color: white;
	text-transform: uppercase;
}

.collections p:last-of-type {
	margin-bottom: 7em;
}

/* ---- MOTHER'S DAY ---- */

.mothers-day {
	margin: 5em 0;
}

.mothers-day>p {
	font-size: 1.3em;
}

.mothers-day::before {
	content: "MOTHER'S DAY";
	padding: 1.7em 2em 1em 2em;
	font-family: 'Bebas Neue', cursive;
	letter-spacing: 0.1em;
	border-top: 3px solid var(--silver);
	font-weight: bold;
	font-size: 1.8em;
	color: var(--accent);
}

/* ---- EXTRAS ---- */

.fire { color: var(--accent); }