@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Barlow+Condensed&display=swap');
/* CSS Document */

:root {
	--red: #ff4848;
	--yellow: #fff151;
	--green: #8dff65;
}

body {
	margin: 0 auto;
	font-family: 'Barlow Condensed', sans-serif;
}

.splash-frame {
	display: block;
	top: 0;
	width: 100%;
	height: 100vh;
}

* {
	box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h2, h3, a {
	color: #34495e;
}

a {
	text-decoration: none;
}

.logo {
	margin: 1em;
	max-width: 15em;
}

.main-nav {
	margin: 0.5vw 0;
}

.logo a, .main-nav a {
	padding: 0 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

.main-nav a {
	color: white;
	font-size: 1.8em;
	letter-spacing: 2px;
}

.main-nav a:hover {
	background: -webkit-linear-gradient(left, #ff4848, #fff151, #8dff65);
	background: -o-linear-gradient(left, #ff4848, #fff151, #8dff65);
	background: linear-gradient(to right, #ff4848, #fff151, #8dff65);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.header {
	padding-top: .5em;
	min-height: 100px;
	padding-bottom: .5em;
	min-width: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	z-index: 100;
}

@media (min-width: 1px) {
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
		}
	}

@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}
}

@keyframes jello-vertical{0%{transform:scale3d(1,1,1)}30%{transform:scale3d(.75,1.25,1)}40%{transform:scale3d(1.25,.75,1)}50%{transform:scale3d(.85,1.15,1)}65%{transform:scale3d(1.05,.95,1)}75%{transform:scale3d(.95,1.05,1)}100%{transform:scale3d(1,1,1)}}

@keyframes text-shadow-drop-center{0%{text-shadow:0 0 0 transparent}100%{text-shadow:0 0 5px rgba(0,0,0,0.7)}}