@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Barlow+Condensed&display=swap');

/* Main */

:root {
	--red: #ff4848;
	--orange: #ffa851;
	--yellow: #fff151;
	--lime: #d3ff59;
	--green: #8dff65;
	--gray: #e8e8e8;
	--shadow: 0 2px 4px 0 rgba(0,0,0,.3);
	--shadow-white: 0px 0px 4px 2px rgb(255, 255, 255, .1);
}

body {
	margin: 0 auto;
	color: black;
	font-family: 'Barlow Condensed', sans-serif;
	height: 100%;
}

.background-image {
	background: url("images/fallback-background.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: fixed;
	filter: blur(3px) opacity(80%);
	min-height: 102%;
	min-width: 102%;
	left: -1%;
	right: -1%;
	top: -1;
	bottom: -1%;
	z-index: -100;
}

/* Scrollbar */

::-webkit-scrollbar-track
{
	background: #696969;
}

::-webkit-scrollbar
{
	width: 0.4em;
}

::-webkit-scrollbar-thumb
{
	background-color: #262626;
	border-radius: 10px;
}

/* Content */

section.all-content {
	width: clamp(15vw, 80vw, 100vw);
	display: flex;
	flex-flow: column;
	margin: 3vh auto;
	padding: 1vh 0;
	text-align: center;
	align-content: center;
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 5px;
	color: rgba(255, 255, 255, 0.7);
	margin-top: 100px;
}

article.content {
	padding: 0.5em;
	max-width: 95%;
	display: block;
	margin: 0 auto;
}

article h1 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 2.3em;
	margin: 0.5em auto;
}

/* Image + Text */

.image-text > .text-content {
	padding: 0.5em;
	margin: 0 1vw;
	width: 46%;
	float: right;
	text-align: left;
}

.text-content > p, .text-content > h1 {
	display: flow-root;
	flex-wrap: wrap;
	margin: 0 auto;
	font-size: 1em;
}

.text-content > h1 { font-size: 2.3em; }

.image-text > .image-content > .image {
	float: left;
	width: 46%;
	box-shadow: var(--shadow-white);
	border-radius: 1vw;
}

.image-text > .image-content { margin: 0 1vw; }

/* Phone & Smaller Screen */

@media only screen and (max-width: 820px) {
	/* Navbar */
	/* Content */
	section.all-content { width: 95vw; }
	/* Image+Text */
	.image-text > .text-content { text-align: center; width: 100%; float: none; margin: 0 auto; padding: 0; }
	.image-text > .image-content > .image { width: 95%; float: none; margin-bottom: 3vw;}
}

/* Animations */

